asttokens
colorama 
comm 
contourpy==1.3.2
cycler==0.12.1
Cython==3.1.1
debugpy 
decorator 
executing 
fonttools==4.58.1
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
jedi 
joblib==1.5.1
jupyter_client
jupyter_core 
kiwisolver==1.4.8
matplotlib==3.10.3
matplotlib-inline
MetaTrader5==5.0.5050
nest_asyncio
numpy==2.2.6
packaging
pandas==2.2.3
parso 
patsy==1.0.1
pillow==11.2.1
platformdirs 
pmdarima==2.0.4
prompt-toolkit
psutil 
pure-eval
Pygments 
pyparsing==3.2.3
python-dateutil
pytz==2025.2
pywin32==307
pyzmq
schedule==1.2.2
scikit-learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
six 
stack-data
statsmodels==0.14.4
threadpoolctl==3.6.0
tornado
traitlets
typing_extensions
tzdata==2025.2
urllib3==2.4.0
wcwidth 
zipp 
